@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------------*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

a {
  color: #fff;
}

.content {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 4;
}
.header__body {
  max-width: 1036px;
  min-height: 85px;
  margin: 0 auto;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 830px) {
  .header__body {
    min-height: 50px;
  }
}
.header__logo {
  position: relative;
  z-index: 100;
}
@media (max-width: 830px) {
  .header__logo img {
    width: 180px;
  }
}
.header__item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.header__list {
  display: flex;
  opacity: 0.67;
  font-size: calc(11px + 2.2 * ((100vw - 320px) / 960));
  font-weight: 600;
  position: relative;
  z-index: 5;
}
.header__list li {
  margin-right: calc(5px + 20 * ((100vw - 320px) / 960));
}
.header__list li:last-child {
  margin: 0;
}
.header__list a {
  color: #666666;
}
.header__btn {
  margin-left: calc(0px + 45 * ((100vw - 320px) / 960));
  color: #fff;
  opacity: 0.81;
  font-size: 13.2px;
  font-weight: 600;
  line-height: 37px;
  text-transform: uppercase;
  opacity: 0.81;
  background-color: #add136;
  border-radius: 30px;
  padding: 0px 30px;
  position: relative;
  z-index: 5;
}
@media (min-width: 761px) {
  .header__btn {
    padding-left: calc(10px + 20 * ((100vw - 320px) / 960));
    padding-right: calc(10px + 20 * ((100vw - 320px) / 960));
  }
}
@media (min-width: 761px) and (max-width: 830px) {
  .header__btn {
    line-height: 30px;
  }
}
.header__burger {
  display: none;
}

@media (max-width: 761px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
    background-color: #fff;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #6d6e70;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #6d6e70;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 9px;
  }

  .header__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #26a6d1;
    padding: 70px 0px 0px 10px;
    z-index: 3;
  }

  .header__list {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
  }
  .header__list a {
    color: #fff;
  }
  .header__list li {
    margin: 0px 0px 30px 0px;
  }

  .header__btn {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 280px 0px 0px 10px;
  }
}
.intectuall {
  margin: 85px 0px 0px 0px;
  position: relative;
  z-index: 1;
  min-height: calc(400px + 169 * ((100vw - 320px) / 960));
  padding-top: calc(80px + 70 * ((100vw - 320px) / 960));
}
@media (max-width: 830px) {
  .intectuall {
    margin: 50px 0px 0px 0px;
  }
}
.intectuall::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #013220;
  opacity: 0.32;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.intectuall__body {
  max-width: 929px;
  margin: 0 auto;
  padding: 0px 10px;
  text-align: center;
}
.intectuall__title {
  font-family: "Open Sans", sans-serif;
  font-size: 49.2px;
  font-size: calc(35px + 14.2 * ((100vw - 320px) / 960));
  font-weight: 600;
  color: #ffffff;
}
.intectuall__title span {
  font-size: 35.2px;
  font-weight: 400;
}
.intectuall__btn {
  display: inline-block;
  background-color: #99c50a;
  padding: 0px 40px;
  border-radius: 10px;
  font-size: 19.2px;
  font-weight: 600;
  line-height: calc(53px + 24 * ((100vw - 320px) / 960));
  font-size: calc(16px + 3.2 * ((100vw - 320px) / 960));
  margin-top: calc(40px + 15 * ((100vw - 320px) / 960));
}

.our-work {
  padding-top: calc(45px + 54 * ((100vw - 320px) / 960));
}
.our-work__body {
  max-width: 972px;
  margin: 0 auto;
  padding: 0px 10px;
  text-align: center;
}
.our-work__title {
  font-family: "Open Sans", sans-serif;
  line-height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #515151;
  max-width: 535px;
  margin: 46px auto 0;
  padding: 0px 10px;
  font-size: calc(25px + 6.2 * ((100vw - 320px) / 960));
  line-height: calc(30px + 10 * ((100vw - 320px) / 960));
  margin-top: calc(30px + 16 * ((100vw - 320px) / 960));
}
.our-work__p {
  max-width: 930px;
  margin: 0 auto;
  padding: 0px 10px;
  opacity: 0.7;
  font-size: 19.2px;
  line-height: 1.2;
  font-weight: 400;
  color: #515151;
  margin: 61px 0px 0px 0px;
  margin-top: calc(40px + 21 * ((100vw - 320px) / 960));
}
.our-work__p:last-child {
  margin: 45px 0px 0px 0px;
  margin-top: calc(30px + 15 * ((100vw - 320px) / 960));
}

.tabs {
  margin: 105px 0px 0px 0px;
}
@media (max-width: 767.98px) {
  .tabs {
    margin: 75px 0px 0px 0px;
  }
}
.tabs__body {
  max-width: 962px;
  margin: 0 auto;
  padding: 0px 10px;
}
.tabs-nav {
  display: flex;
  position: relative;
}
@media (min-width: 767.98px) {
  .tabs-nav::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
  }
}
@media (max-width: 767.98px) {
  .tabs-nav {
    flex-wrap: wrap;
  }
}
.tabs-nav__item {
  display: flex;
  align-items: center;
  flex: 0 1 33.333%;
  padding: 0px 0px 30px 0px;
  cursor: pointer;
  transition: 0.3s;
}
@media (min-width: 767.98px) {
  .tabs-nav__item {
    padding: 0px 0px 35px 0px;
    border-bottom: 1px solid transparent;
  }
  .tabs-nav__item.is-active {
    border-bottom-color: #55a32a;
  }
}
@media (max-width: 767.98px) {
  .tabs-nav__item {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
  }
}
.tabs-nav__numeral {
  font-family: "Open Sans", sans-serif;
  font-size: 20.2px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  width: 43px;
  height: 43px;
  background-color: #5f5f5f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.tabs-nav__numeral.is-active {
  background-color: #add136;
}
.tabs-nav__title {
  font-family: "Open Sans", sans-serif;
  font-size: 33.2px;
  line-height: 1.2;
  font-weight: 300;
  color: #656565;
  margin: 0px 0px 0px 33px;
  transition: 0.3s;
  font-size: calc(25px + 8.2 * ((100vw - 320px) / 960));
  margin-right: calc(22px + 11 * ((100vw - 320px) / 960));
}
.tabs-nav__title:hover {
  color: #55a32a;
}
@media (max-width: 767.98px) {
  .tabs-nav__title {
    margin: 0;
  }
}

.tab {
  display: none;
  padding: 65px 25px 0 85px;
}
@media (max-width: 630px) {
  .tab {
    padding: 0;
  }
}
.tab.is-active {
  display: flex;
}
@media (max-width: 630px) {
  .tab.is-active {
    display: block;
    text-align: center;
  }
}
@media (max-width: 734px) {
  .tab__image img {
    max-width: 80px;
  }
}
@media (max-width: 630px) {
  .tab__image {
    margin: 0 auto;
  }
}
.tab__content {
  margin: 0px 0px 0px 105px;
}
@media (max-width: 882px) {
  .tab__content {
    margin: 0px 0px 0px 70px;
  }
}
@media (max-width: 630px) {
  .tab__content {
    margin: 14px 0 0 0;
  }
}
.tab__content-title {
  font-family: "Open Sans", sans-serif;
  font-size: 25.2px;
  line-height: 1.2;
  color: #add136;
}
.tab__content-text {
  opacity: 0.67;
  font-family: "Open Sans", sans-serif;
  font-size: 17.2px;
  line-height: 20px;
  color: #606060;
  margin: 15px 0px 0px 0px;
}

.featured {
  margin: 61px 0px 0px 0px;
}
.featured__container {
  max-width: 978px;
  margin: 0 auto;
  padding: 0px 10px;
}
.featured__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 662px) {
  .featured__header {
    flex-direction: column;
    justify-content: center;
  }
}
.featured__header-content_title {
  font-family: "Open Sans", sans-serif;
  font-size: 29.2px;
  line-height: 24px;
  font-weight: 600;
  color: #515151;
  font-size: calc(24px + 5.2 * ((100vw - 320px) / 960));
}
.featured__header-content_text {
  font-family: "Open Sans", sans-serif;
  font-size: 17.2px;
  line-height: 24px;
  color: #8f8f8f;
  max-width: 672px;
  margin: 26px 0px 0px 0px;
  font-size: calc(14px + 3 * ((100vw - 320px) / 960));
}
.featured__header-link {
  height: 52px;
  border: 1px solid rgba(81, 81, 81, 0.41);
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 14.9px;
  font-weight: 600;
  color: #515151;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 25px;
  min-width: 200px;
  margin: 0px 0px 0px 10px;
}
@media (max-width: 662px) {
  .featured__header-link {
    margin: 25px 0px 0px 0px;
  }
}
.featured__row {
  display: flex;
  margin: 66px -20px 0;
  flex-wrap: wrap;
}
.featured__column {
  flex: 0 1 33.333%;
  padding: 0 20px;
}
@media (max-width: 810px) {
  .featured__column {
    flex: 0 1 50%;
  }
  .featured__column:nth-child(3n) {
    margin: 20px 0px 0px 0px;
  }
}
@media (max-width: 500px) {
  .featured__column {
    flex: 1 1 100%;
  }
  .featured__column:nth-child(2) {
    margin: 20px 0px 0px 0px;
  }
}

.column-featured {
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.column-featured__image {
  height: 226px;
  position: relative;
}
.column-featured__image::before {
  content: "new";
  width: 100px;
  height: 40px;
  position: absolute;
  top: 0;
  left: -30px;
  transform: rotate(-45deg);
  background-color: #add136;
  font-family: Montserrat;
  font-size: 14.6px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column-featured-content {
  background-color: rgba(247, 247, 247, 0.7);
  border-top: none;
  padding: 29px 24px 25px 22px;
}
.column-featured-padla {
  position: absolute;
  bottom: 18px;
  right: 15px;
  height: 35px;
  background-color: #26a6d1;
  font-family: "Open Sans", sans-serif;
  font-size: 16.6px;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 9px;
}
.column-featured-padla span {
  font-weight: 700;
}
.column-featured__title {
  font-family: "Open Sans", sans-serif;
  font-size: 17.2px;
  font-weight: 700;
  color: #484848;
}
.column-featured__text {
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 13.2px;
  color: #484848;
  line-height: 20px;
  margin: 17px 0px 0px 0px;
}
.column-featured__line {
  width: 100%;
  height: 14px;
  background-color: #e3e3e3;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin: 20px 0px 0px 0px;
}
.column-featured__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  background-color: #add136;
}
.column-featured__line_1::before {
  content: "";
  height: 14px;
  width: 10%;
}
.column-featured__line_2::before {
  content: "";
  height: 14px;
  width: 60%;
}
.column-featured__line_3::before {
  content: "";
  width: 10%;
}
.column-featured-endpoints {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 13.2px;
  font-weight: 600;
  color: #8d8d8d;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 17px 0px;
  position: relative;
}
.column-featured-endpoints::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e3e3e3;
}
.column-featured__link {
  opacity: 0.85;
  font-family: "Open Sans", sans-serif;
  font-size: 15.2px;
  font-weight: 600;
  color: #484848;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 26px 0px 0px 0px;
  padding: 0px 36px 0px 0px;
}
.column-featured__link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 12px;
  height: 16px;
  border: 10px solid transparent;
  border-left: 16px solid #add136;
}

.international {
  margin: 79px 0px 0px 0px;
  padding: 61px 0px;
}
.international__body {
  max-width: 949px;
  margin: 0 auto;
  padding: 0px 10px;
}
.international__title {
  font-family: "Open Sans", sans-serif;
  font-size: 39.2px;
  font-weight: 600;
  color: #9ec02d;
  text-align: center;
  font-size: calc(30px + 9.2 * ((100vw - 320px) / 960));
}
.international__text {
  font-family: "Open Sans", sans-serif;
  font-size: 19.2px;
  color: #949494;
  text-align: center;
  line-height: 24px;
  margin: 42px 0px 0px 0px;
  font-size: calc(15px + 4 * ((100vw - 320px) / 960));
}
.international__row {
  display: flex;
  justify-content: space-between;
  margin: 98px -20px 0px;
}
@media (max-width: 506px) {
  .international__row {
    flex-direction: column;
  }
}
.international__item {
  padding: 0 20px;
}
.international__item:nth-child(n+1) {
  margin: 20px 0px 0px 0px;
}
.international__author {
  display: flex;
  align-items: center;
  margin: 33px 0px 0px 49px;
}
.international__img {
  overflow: hidden;
  border-radius: 20px;
  min-width: 62px;
}
.international__name {
  font-family: Montserrat;
  font-size: 15.2px;
  line-height: 1.2;
  color: #494949;
  margin: 0px 0px 0px 18px;
}

.content-international {
  background-color: #fff;
  padding: 25px 42px 22px 36px;
  border-radius: 10px;
  position: relative;
}
.content-international::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 80px;
  border: 20px solid transparent;
  border-left: 20px solid #fff;
  border-top: 20px solid #fff;
}
.content-international__title {
  max-width: 319px;
  font-family: "Open Sans", sans-serif;
  font-size: 21.2px;
  font-weight: 600;
  line-height: 24px;
  color: #9ec02d;
  text-align: center;
}
.content-international__text {
  max-width: 319px;
  font-family: "Open Sans", sans-serif;
  font-size: 13.2px;
  line-height: 24px;
  text-align: center;
  color: #848484;
  margin: 11px 0px 0px 0px;
}

.footer__body {
  max-width: 949px;
  margin: 0 auto;
  padding: 0px 10px;
}
.footer__text {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 13.2px;
  color: #848484;
}