<header class="header">
	<div class="header__body">
		<div class="header__logo"><a href=""><img src="img/logo.png" alt=""></a></div>
		<div class="header__item">
			<nav class="header__menu">
				<ul class="header__list">
					<li><a href="">Home</a></li>
					<li><a href="">How it works</a></li>
					<li><a href="">Discover a project</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Find out more</a></li>
				</ul>
			</nav>
			<a class="header__btn" href="">Login</a>
			<button class="header__burger">
				<span></span>
			</button>
		</div>
		</div>
</header>