.footer {
	// .footer__body
	&__body {
		max-width: 949px;
		margin: 0 auto;
		padding: 0px 10px;
	}
	// .footer__text
	&__text {
		height: 65px;
		display: flex;
		justify-content: center;
		align-items: center;

		font-family: 'Open Sans', sans-serif;
		font-size: 13.2px;
		color: #848484;
	}
}
