.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 999;
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 4;
	}
	// .header__body
	&__body {

		max-width: 1036px;
		min-height: 85px;

		margin: 0 auto;
		padding: 0px 10px;

		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $md1) {
			min-height: 50px;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 100;
		img{
			@media (max-width: $md1) {
				width: 180px;
			}
		}
	}
	// .header__item
	&__item {
		display: flex;
		align-items: center;
		text-transform: uppercase;
	}
	// .header__nav
	&__nav {}
	// .header__list
	&__list {
		display: flex;
		opacity: 0.67;

		@include adaptiv-font(13.2, 11);
		font-weight: 600;
		position: relative;
		z-index: 5;
		li{
			@include adaptiv-marginRight(25, 5);
			&:last-child{
				margin: 0;
			}
		}
		a{
			color: #666666;
		}
	}
	// .header__btn
	&__btn {
		@include adaptiv-marginLeft(45, 0);
		color: #fff;
		opacity: 0.81;

		font-size: 13.2px;
		font-weight: 600;
		line-height: 37px;
		text-transform: uppercase;

		opacity: 0.81;
		background-color: #add136;
		border-radius: 30px;

		padding: 0px 30px;
		position: relative;
		z-index: 5;
		@media (min-width:761px){
			@include adaptiv-paddingLeft(30, 10);
			@include adaptiv-paddingRight(30, 10);
			@media (max-width: $md1) {
				line-height: 30px;
			}
		}
	}
	// .header__burger
	&__burger{
		display: none;
	}
}



@media (max-width: 761px){
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 5;
		background-color: #fff;
		&::before,
		&::after{
			content: '';
			background-color: #6d6e70;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
		}
		&::before{
			top: 0;
		}
		&::after{
			bottom: 0;
		}
		span{
			position: absolute;
			background-color: #6d6e70;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0px;
			bottom: 9px;
		}
	}
	.header__menu{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #26a6d1;
		padding: 70px 0px 0px 10px;
		z-index: 3;
	}
	.header__list{
		display: block;
		text-transform: uppercase;
		font-size: 14px;
		a{
			color: #fff;
		}
		li{
			margin: 0px 0px 30px 0px;
		}
	}
	.header__btn{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		margin: 280px 0px 0px 10px;
	}
}

























