// Импорт файлов <================================================================================>

@import '_nullstyle.scss';
@import '_fonts';
@import '_mixins.scss';

// Переменные <================================================================================>

$maxWidth: 1280;
$md1: 830px;
$md2: 767.98px;

// Основные <================================================================================>

@import '_ui.scss';

body{

}

// Header <================================================================================>

@import '_header.scss';

// Верстка содержимого <================================================================================>


.intectuall {
	// min-height: 569px;
	margin: 85px 0px 0px 0px;
	position: relative;
	z-index: 1;

	@include adaptiv-minHeight(569, 400);

	@media (max-width: $md1){margin: 50px 0px 0px 0px;}
	@include adaptiv-paddingTop(150, 80);

	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-color: #013220;
		opacity: 0.32;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	// .intectuall__body
	&__body {
		max-width: 929px;
		margin: 0 auto;
		padding: 0px 10px;
		text-align: center;
	}

	// .intectuall__title
	&__title {
		font-family: "Open Sans", sans-serif;
		font-size: 49.2px;
		@include adaptiv-font(49.2, 35);
		font-weight: 600;
		color: #ffffff;
		span{
			font-size: 35.2px;
			font-weight: 400;
		}
	}
	// .intectuall__btn
	&__btn {
		display: inline-block;
		
		background-color: #99c50a;

		padding: 0px 40px;
		border-radius: 10px;
		// margin: 55px 0px 0px 0px;

		font-size: 19.2px;
		font-weight: 600;

		@include adaptiv-lineHeight(77, 53);
		@include adaptiv-font(19.2, 16);
		@include adaptiv-marginTop(55, 40);
	}
}

// <================================================================================>

.our-work {
	// padding: 99px 0px 0px 0px;
	@include adaptiv-paddingTop(99, 45);
	// .our-work__body
	&__body {
		max-width: 972px;
		margin: 0 auto;
		padding: 0px 10px;
		text-align: center;
	}
	// .our-work__icon
	&__icon {}
	// .our-work__title
	&__title {
		font-family: 'Open Sans', sans-serif;
		// font-size: 31.2px;
		line-height: 40px;
		font-weight: 600;
		text-transform: uppercase;
		color: #515151;

		max-width: 535px;
		margin: 46px auto 0;
		padding: 0px 10px;

		@include adaptiv-font(31.2, 25);
		@include adaptiv-lineHeight(40, 30);
		@include adaptiv-marginTop(46, 30);
	}
	// .our-work__p
	&__p {
		max-width: 930px;
		margin: 0 auto;
		padding: 0px 10px;

		opacity: 0.7;
		font-size: 19.2px;
		line-height: 1.2;
		font-weight: 400;
		color: #515151;

		margin: 61px 0px 0px 0px;
		&:last-child{
			margin: 45px 0px 0px 0px;
			@include adaptiv-marginTop(45, 30);
		}

		@include adaptiv-marginTop(61, 40);
	}
}

.tabs {
	margin: 105px 0px 0px 0px;
	@media (max-width:$md2){
		margin: 75px 0px 0px 0px;
	}
	// .tabs__body
	&__body {
		max-width: 962px;
		margin: 0 auto;
		padding: 0px 10px;
	}
	// .tabs__nav
	&__nav {
	}
	// .tabs__content
	&__content {}
}
.tabs-nav {
	display: flex;
	position: relative;
	@media (min-width:$md2){
		&::before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: #000;
			opacity: 0.3;
		}
	}

	@media (max-width:$md2){
		flex-wrap: wrap;
	}
	// .tabs-nav__item
	&__item {
		display: flex;
		align-items: center;
		flex: 0 1 33.333%;
		padding: 0px 0px 30px 0px;
		cursor: pointer;
		transition: 0.3s;
		@media (min-width:$md2){
			padding: 0px 0px 35px 0px;
			border-bottom: 1px solid transparent;
			&.is-active{border-bottom-color: #55a32a;}
		}

		@media (max-width:$md2){
			flex: 0 1 50%;
			display: flex;
			flex-direction: column;
		}
	}
	// .tabs-nav__numeral
	&__numeral {
		font-family: "Open Sans", sans-serif;
		font-size: 20.2px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;

		width: 43px;
		height: 43px;
		background-color: #5f5f5f;

		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;

		
		&.is-active{
			background-color: #add136;
		}

	}
	// .tabs-nav__title
	&__title {
		font-family: "Open Sans", sans-serif;
		font-size: 33.2px;
		line-height: 1.2;
		font-weight: 300;
		color: #656565;
		margin: 0px 0px 0px 33px;
		transition: 0.3s;
		&:hover{
			color: #55a32a;
		}

		@include adaptiv-font(33.2, 25);
		@include adaptiv-marginRight(33, 22);

		@media (max-width:$md2){
			margin: 0;
		}
	}
}
.tab {
	display: none;
	padding: 65px 25px 0 85px;
	@media (max-width:630px){
		padding: 0;
	}
	&.is-active{display: flex;
		@media (max-width:630px){
			display: block;
			text-align: center;
		}
	}
	// .tab__image
	&__image {
		@media (max-width:734px){
			img{
				max-width: 80px;
			}
		}
		@media (max-width:630px){
			margin: 0 auto;
		}
	}
	// .tab__content
	&__content {
		margin: 0px 0px 0px 105px;
		@media (max-width:882px){
			margin: 0px 0px 0px 70px;
		}
		@media (max-width:630px){
			margin: 14px 0 0 0 ;
		}
	}
	// .tab__content-title
	&__content-title {
		font-family: 'Open Sans', sans-serif;
		font-size: 25.2px;
		line-height: 1.2;
		color: #add136;
	}
	// .tab__content-text
	&__content-text {
		opacity: 0.67;
		font-family: 'Open Sans', sans-serif;
		font-size: 17.2px;
		line-height: 20px;
		color: #606060;
		margin: 15px 0px 0px 0px;
	}
}

// <================================================================================>

.featured {
	margin: 61px 0px 0px 0px;
	// .featured__container
	&__container {
		max-width: 978px;
		margin: 0 auto;
		padding: 0px 10px;
	}
	// .featured__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width:662px){
			flex-direction: column;
			justify-content: center;
		}
	}
	// .featured__header-content
	&__header-content {
		// .featured__header-content_title
		&_title {
			font-family: 'Open Sans', sans-serif;
			font-size: 29.2px;
			line-height: 24px;
			font-weight: 600;
			color: #515151;
			@include adaptiv-font(29.2, 24);
		}
		// .featured__header-content_text
		&_text {
			font-family: 'Open Sans', sans-serif;
			font-size: 17.2px;
			line-height: 24px;
			color: #8f8f8f;

			max-width: 672px;
			margin: 26px 0px 0px 0px;

			@include adaptiv-font(17, 14);
		}
	}
	// .featured__header-link
	&__header-link {
		height: 52px;
		border: 1px solid rgba(81,81,81,0.41);

		opacity: 0.7;
		font-family: 'Open Sans', sans-serif;
		font-size: 14.9px;
		font-weight: 600;
		color: #515151;
		border-radius: 10px;

		display: flex;
		align-items: center;
		justify-content: center;

		padding: 20px 25px;
		min-width: 200px;
		margin: 0px 0px 0px 10px;

		@media (max-width:662px){
			margin: 25px 0px 0px 0px;
		}
	}
	// .featured__row
	&__row {
		display: flex;
		margin: 66px -20px 0;
		flex-wrap: wrap;
	}
	// .featured__column
	&__column {
		flex: 0 1 33.333%;
		padding: 0 20px;
		@media (max-width:810px){
			flex: 0 1 50%;
			&:nth-child(3n){
				margin: 20px 0px 0px 0px;
			}
		}
		@media (max-width:500px){
			flex: 1 1 100%;
			&:nth-child(2){
				margin: 20px 0px 0px 0px;
			}
		}
	}
}

.column-featured {
	overflow: hidden;
	border-radius: 20px;
	border: 1px solid rgba(0,0,0,0.13);
	// .column-featured__image
	&__image {
		height: 226px;
		position: relative;
		&::before{
			content: 'new';
			width: 100px;
			height: 40px;
			position: absolute;
			top: 0;
			left: -30px;
			transform: rotate(-45deg);

			background-color: #add136;
			font-family: Montserrat;
			font-size: 14.6px;
			color: #ffffff;

			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	// .column-featured-content
	&-content{
		background-color: rgba(247,247,247,0.7);
		border-top: none;
		padding: 29px 24px 25px 22px;
	}
	// .featured__column-padla
	&-padla {
		position: absolute;
		bottom: 18px;
		right: 15px;
		height: 35px;

		background-color: #26a6d1;
		font-family: 'Open Sans', sans-serif;
		font-size: 16.6px;
		color: #fff;
		border-radius: 10px;

		display: flex;
		align-items: center;
		justify-content: center;

		padding: 0px 9px;
		span{
			font-weight: 700;
		}
	}

	// .column-featured__title
	&__title {
		font-family: 'Open Sans', sans-serif;
		font-size: 17.2px;
		font-weight: 700;
		color: #484848;
	}
	// .column-featured__text
	&__text {
		opacity: 0.7;
		font-family: 'Open Sans', sans-serif;
		font-size: 13.2px;
		color: #484848;
		line-height: 20px;

		margin: 17px 0px 0px 0px;
	}
	// .column-featured__line
	&__line {
		width: 100%;
		height: 14px;
		background-color: #e3e3e3;
		border-radius: 20px;
		position: relative;
		overflow: hidden;
		margin: 20px 0px 0px 0px;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 14px;
			background-color: #add136;
		}
		// .column-featured__line_1
		&_1 {
			&::before{
				content: '';
				height: 14px;
				width: 10%;
			}
		}
		// .column-featured__line_2
		&_2 {
			&::before{
				content: '';
				height: 14px;
				width: 60%;
			}
		}
		// .column-featured__line_3
		&_3 {
			&::before{
				content: '';
				width: 10%;
			}
		}
	}
	// .column-featured-endpoints
	&-endpoints{
		display: flex;
		justify-content: space-between;

		font-family: 'Open Sans', sans-serif;
		font-size: 13.2px;
		font-weight: 600;
		color: #8d8d8d;

		margin: 20px 0px 0px 0px;
		padding: 0px 0px 17px 0px;

		position: relative;
		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: #e3e3e3;
		}
	}
	// .column-featured__link
	&__link {
		opacity: 0.85;
		font-family: 'Open Sans', sans-serif;
		font-size: 15.2px;
		font-weight: 600;
		color: #484848;

		display: flex;
		justify-content: flex-end;
		position: relative;

		margin: 26px 0px 0px 0px;
		padding: 0px 36px 0px 0px;
		&::after{
			content: '';
			position: absolute;
			right: 0;
			bottom: -3px;
			width: 12px;
			height: 16px;

			border: 10px solid transparent;
			border-left: 16px solid #add136;

		}
	}
}

// <================================================================================>

.international {
	margin: 79px 0px 0px 0px;
	padding: 61px 0px;
	// .international__body
	&__body {
		max-width: 949px;
		margin: 0 auto;
		padding: 0px 10px;
	}
	// .international__title
	&__title {
		font-family: 'Open Sans', sans-serif;
		font-size: 39.2px;
		font-weight: 600;
		color: #9ec02d;
		text-align: center;
		@include adaptiv-font(39.2, 30);
	}
	// .international__text
	&__text {
		font-family: 'Open Sans', sans-serif;
		font-size: 19.2px;
		color: #949494;
		text-align: center;
		line-height: 24px;

		margin: 42px 0px 0px 0px;

		@include adaptiv-font(19, 15);
	}
	// .international__row
	&__row {
		display: flex;
		justify-content: space-between;

		margin: 98px -20px 0px;
		@media (max-width:506px){
			flex-direction: column;
		}
	}
	// .international__item
	&__item {
		padding: 0 20px;
		&:nth-child(n + 1){
			margin: 20px 0px 0px 0px;
		}
	}
	// .international__content
	&__content {
	}
	// .international__author
	&__author {
		display: flex;
		align-items: center;

		margin: 33px 0px 0px 49px;
	}
	// .international__img
	&__img {
		overflow: hidden;
		border-radius: 20px;
		min-width: 62px;
	}
	// .international__name
	&__name {
		font-family: Montserrat;
		font-size: 15.2px;
		line-height: 1.2;
		color: #494949;

		margin: 0px 0px 0px 18px;
	}
}

.content-international {
	background-color: #fff;
	padding: 25px 42px 22px 36px;
	border-radius: 10px;

	position: relative;
	&::before{
		content: '';
		position: absolute;
		bottom: -20px;
		left: 80px;
		border: 20px solid transparent;
		border-left: 20px solid #fff;
		border-top: 20px solid #fff; 
	}
	// .content-international__title
	&__title {
		max-width: 319px;

		font-family: 'Open Sans', sans-serif;
		font-size: 21.2px;
		font-weight: 600;
		line-height: 24px;
		color: #9ec02d;
		text-align: center;
	}
	// .content-international__text
	&__text {
		max-width: 319px;

		font-family: 'Open Sans', sans-serif;
		font-size: 13.2px;
		line-height: 24px;
		text-align: center;
		color: #848484;

		margin: 11px 0px 0px 0px;
	}
}


// Верстка "footer" <================================================================================>

@import '_footer.scss';











